<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	
	<title>B.S. Group - Business Solutions Group</title>
	
	<!-- Stylesheets -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>
<body>
<div class="page-wrapper">
	<!-- Preloader -->
	<div class="preloader"></div>
	
	<!-- main header -->
	<header class="main-header">
		
		<!-- header top -->
		<div class="header-top light black-bg-3">
			<div class="container clearfix">
				<!--Top Left-->
				<div class="top-left pull-left">
					<ul class="links-nav clearfix">
						<li><i class="fa fa-envelope-o"></i>consultas@bsgroup.com.pe</li>
						<li><i class="fa fa-phone"></i>(51-1) 7156577 | (51-1) 7156578</li>
					</ul>
				</div>
				
				<!--Top Right-->
				<div class="top-right pull-right">
					<div class="social-links clearfix">
						<a href="https://www.facebook.com/BSGroup.Peru"><span class="fa fa-facebook-f"></span></a>
					</div>
				</div>
			</div>
		</div>
		
		<!--Header-Upper-->
		<div class="header-upper style-three dark-color">
			<div class="container clearfix">
				
				<div class="float-left logo-outer">
					<div class="logo"><a href="/"><img src="images/logo.png" alt="" title=""></a></div>
				</div>
				
				<div class="float-right upper-right clearfix">
					
					<div class="nav-outer clearfix">
						<!-- Main Menu -->
						<nav class="main-menu navbar-expand-lg">
							<div class="navbar-header">
								<!-- Toggle Button -->
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							
							<div class="navbar-collapse collapse clearfix">
								<ul class="navigation clearfix">
									<li><a href="#">Inicio</a></li>
									<li><a href="#nosotros">Nosotros</a></li>
									<li><a href="#servicios">Servicios</a></li>
									<li><a href="blog.html">Blog</a></li>
									<li><a href="#contacto">Contacto</a></li>
								</ul>
							</div>
						</nav>
					</div>
				
				</div>
			
			</div>
		</div>
		<!--End Header Upper-->
		
		<!--Sticky Header-->
		<div class="sticky-header">
			<div class="container clearfix">
				<!--Logo-->
				<div class="logo float-left">
					<a href="/" class="img-responsive"><img src="images/logo.png" alt="" title=""></a>
				</div>
				
				<!--Right Col-->
				<div class="right-col float-right">
					<!-- Main Menu -->
					<nav class="main-menu navbar-expand-lg">
						<div class="navbar-collapse collapse clearfix">
							<ul class="navigation clearfix">
								<li><a href="#">Inicio</a></li>
								<li><a href="#nosotros">Nosotros</a></li>
								<li><a href="#servicios">Servicios</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="#contacto">Contacto</a></li>
							</ul>
						</div>
					</nav><!-- Main Menu End-->
				</div>
			
			</div>
		</div>
		<!--End Sticky Header-->
	</header>
	
	<!-- Main slider -->
	<section class="main-slider2">
		<div class="container-fluid">
			<ul class="main-slider-carousel owl-carousel owl-theme slide-nav">
				<li class="slider-wrapper">
					<div class="image"><img src="images/main-slider/image-1.jpg" alt=""></div>
					<div class="slider-caption text-center">
						<div class="container">
							<h1>Gestión Estratégica</h1>
							<div class="link-btn">
								<a href="#servicios" class="theme-btn btn-style-one">Nuestros servicios</a>
								<a href="#contacto" class="theme-btn btn-style-seven">Contacto</a>
							</div>
						</div>
					</div>
					<div class="slide-overlay"></div>
				</li>
				<li class="slider-wrapper">
					<div class="image"><img src="images/main-slider/image-2.jpg" alt=""></div>
					<div class="slider-caption text-center">
						<div class="container">
							<h1>Gestión Financiera y Tributaria</h1>
							<div class="link-btn">
								<a href="#servicios" class="theme-btn btn-style-one">Nuestros servicios</a>
								<a href="#contacto" class="theme-btn btn-style-seven">Contacto</a>
							</div>
						</div>
					</div>
					<div class="slide-overlay"></div>
				</li>
				<li class="slider-wrapper">
					<div class="image"><img src="images/main-slider/image-3.jpg" alt=""></div>
					<div class="slider-caption text-center">
						<div class="container">
							<h1>Gestión del Talento Humano</h1>
							<div class="link-btn">
								<a href="#servicios" class="theme-btn btn-style-one">Nuestros servicios</a>
								<a href="#contacto" class="theme-btn btn-style-seven">Contacto</a>
							</div>
						</div>
					</div>
					<div class="slide-overlay"></div>
				</li>
			</ul>
		</div>
	</section>

	<!-- Our Experience  -->
    <section class="our-experience-three sp-two grey-bg">
        <div class="container">
            <div class="sec-title centered deep">
                <h1>Nosotros</h1>
            </div>
            <div class="text-center mb-80">
                <div class="text mb-40"> En BS Group cultivamos la filosofía de entregar valor agregado y seguridad para nuestros clientes a traves de una atencion personalizada. Apicamos la misma filosofia ara nuestros profesionales, apreciando sus ideas innovadoras, fomentando su crecimiento y capacitandolos permanentemente.
                </div>
            </div>
            
            <div class="row">
                <!-- services block one -->
                <div class="col-lg-3 col-md-6 service-block-three">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/resource/service-1.jpg" alt="">
                            <div class="caption">
                                <div>
                                    <div class="icon-box">
                                    	<span class="flaticon-graphic"></span>
                                    </div>
                                    <h4>Gestión Estratégica</h4>
                                </div>
                            </div>
                            
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="text">Lorem ipsum dolor  amet constur adipisic elit sed eiusm tempor.</div>
                                        <a href="#" class="read-more">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- services block one -->
                <div class="col-lg-3 col-md-6 service-block-three">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/resource/service-2.jpg" alt="">
                            <div class="caption">
                                <div>
                                	<div class="icon-box">
                                		<span class="flaticon-laptop"></span>
                                	</div>
                                    <h4>Gestión Financiera y Tributaria</h4>
                                </div>
                            </div>
                            
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="text">Lorem ipsum dolor  amet constur adipisic elit sed eiusm tempor.</div>
                                        <a href="#" class="read-more">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- services block one -->
                <div class="col-lg-3 col-md-6 service-block-three">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/resource/service-3.jpg" alt="">
                            <div class="caption">
                                <div>
                                    <div class="icon-box">
                                    	<span class="flaticon-business-1"></span>
                                    </div>
                                    <h4>Talento Humano</h4>
                                </div>
                                    
                            </div>
                            
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="text">Lorem ipsum dolor  amet constur adipisic elit sed eiusm tempor.</div>
                                        <a href="#" class="read-more">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- services block one -->
                <div class="col-lg-3 col-md-6 service-block-three">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/resource/service-4.jpg" alt="">
                            <div class="caption">
                                <div>
                                	<div class="icon-box">
                                		<span class="flaticon-creative-idea"></span>
                                	</div>
                                    <h4>Tecnologías de la Información</h4>
                                </div>
                            </div>
                            
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="text">Lorem ipsum dolor  amet constur adipisic elit sed eiusm tempor.</div>
                                        <a href="#" class="read-more">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end column-->
            </div>
        </div>
    </section>
	
	<!-- Client logo -->
	<section class="parallax-section sp-one" style="background-image:url(images/background/3.jpg);">
		<div class="container">
			<div class="sec-title light centered">
				<h1>Clientes</h1>
				<div class="text mt-25 mb-30">A lo largo de los años hemos desarrollado una relación con nuestros clientes contribuyendo con el crecimiento de cada uno de ellos.</div>
			</div>
			<div class="client-logo-area">
				<ul class="five-item-carousel owl-carousel owl-theme owl-dot-none owl-nav-none">
					<li><a href="#"><img src="images/clients/1.png" alt=""></a></li>
					<li><a href="#"><img src="images/clients/2.png" alt=""></a></li>
					<li><a href="#"><img src="images/clients/3.png" alt=""></a></li>
					<li><a href="#"><img src="images/clients/4.png" alt=""></a></li>
					<li><a href="#"><img src="images/clients/5.png" alt=""></a></li>
				</ul>
			</div>
		</div>
	</section>

	<!-- Our Service  -->
    <section class="our-service sp-two">
        <div class="container">
            <!-- sec tietle -->
            <div class="sec-title centered style-two">
                <h1>Valor agregado</h1>
            </div>
            <div class="row">
                <!-- service block six -->
                <div class="service-block-six col-lg-4 col-md-6">
                    <div class="inner-box hvr-bounce-to-bottom">
                        <div class="icon-box">
                            <span class="flaticon-graphic"></span>
                        </div>
                        <h4>Calidad y seguridad</h4>
                    </div>
                </div>
                <!-- service block six -->
                <div class="service-block-six col-lg-4 col-md-6">
                    <div class="inner-box hvr-bounce-to-bottom">
                        <div class="icon-box">
                            <span class="flaticon-graphic"></span>
                        </div>
                        <h4>Flexibilidad en el servicio</h4>
                    </div>
                </div>
                <!-- service block six -->
                <div class="service-block-six col-lg-4 col-md-6">
                    <div class="inner-box hvr-bounce-to-bottom">
                        <div class="icon-box">
                            <span class="flaticon-graphic"></span>
                        </div>
                        <h4>Servicio personalizado</h4>
                    </div>
                </div>
                <!-- service block six -->
                <div class="service-block-six col-lg-4 col-md-6">
                    <div class="inner-box hvr-bounce-to-bottom">
                        <div class="icon-box">
                            <span class="flaticon-graphic"></span>
                        </div>
                        <h4>Profesionales altamente capacitados</h4>
                    </div>
                </div>
                <!-- service block six -->
                <div class="service-block-six col-lg-4 col-md-6">
                    <div class="inner-box hvr-bounce-to-bottom">
                        <div class="icon-box">
                            <span class="flaticon-graphic"></span>
                        </div>
                        <h4>Enfoque en post venta</h4>
                    </div>
                </div>
                <!-- service block six -->
                <div class="service-block-six col-lg-4 col-md-6">
                    <div class="inner-box hvr-bounce-to-bottom">
                        <div class="icon-box">
                            <span class="flaticon-graphic"></span>
                        </div>
                        <h4>Clientes satisfechos</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
	
	<!-- map section -->
	<section class="map-section map-two">
		<div class="home-google-map">
			<div
					class="google-map"
					id="contact-google-map"
					data-map-lat="54.194328"
					data-map-lng="-2.916747"
					data-icon-path="images/icons/map-marker.png"
					data-map-title="Chester"
					data-map-zoom="11" >
			</div>
		</div>
		<div class="container">
			<div class="consultation">
				<div class="sec-title light">
					<h1>Contáctanos</h1>
				</div>
				<!-- default form -->
				<div class="default-form-area">
					<form id="contact-form" name="contact_form" class="contact-form" action="http://html.tonatheme.com/2018/Bremond/inc/sendmail.php" method="post" novalidate="novalidate">
						<div class="row clearfix">
							<div class="col-md-6 col-sm-6 column">
								<div class="form-group">
									<input type="text" name="form_name" class="form-control" value="" placeholder="Nombre" required="" aria-required="true">
								</div>
							</div>
							<div class="col-md-6 col-sm-6 column">
								<div class="form-group">
									<input type="email" name="form_email" class="form-control required email" value="" placeholder="Email" required="" aria-required="true">
								</div>
							</div>
							<div class="col-md-12 col-sm-12 column">
								<div class="form-group">
									<input type="text" name="form_subject" class="form-control" value="" placeholder="Asunto" required="" aria-required="true">
								</div>
							</div>
							<div class="col-md-12 col-sm-12 column">
								<div class="form-group">
									<textarea name="form_message" class="form-control textarea required" placeholder="Mensaje" aria-required="true"></textarea>
								</div>
							</div>
						</div>
						<div class="contact-section-btn">
							<div class="form-group">
								<button class="theme-btn btn-style-one" type="submit" data-loading-text="Please wait...">Enviar mensaje</button>
							</div>
						</div>
					</form>
				</div>
				<!-- end default form -->
			
			</div>
		</div>
	</section>
	
	<!-- News Blog -->
	<section class="blog-section sp-two">
		<div class="container">
			<div class="sec-title centered style-two">
				<h1>Nuestro Blog</h1>
			</div>
			<div class="row">
				<!-- news block two -->
				<div class="col-lg-4 col-md-6 news-block-two">
					<div class="inner-box hvr-float-shadow">
						<div class="lower-content">
							<div class="category"><a href="#">Article</a></div>
							<h4><a href="blog-details.html">Let’s Talk About Design</a></h4>
							<ul class="post-meta">
								<li>by <strong>admin</strong></li>
								<li>on <span>2 Sep, 2018</span></li>
							</ul>
							<div class="text">Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt.</div>
							<div class="link-btn"><a href="blog-details.html" class="read-more-btn">Read More <span class="fa fa-long-arrow-right"></span></a></div>
						</div>
					</div>
				</div>
				<!-- news block two -->
				<div class="col-lg-4 col-md-6 news-block-two">
					<div class="inner-box hvr-float-shadow">
						<div class="lower-content">
							<div class="category"><a href="#">Article</a></div>
							<h4><a href="blog-details.html">Let’s Talk About Design</a></h4>
							<ul class="post-meta">
								<li>by <strong>admin</strong></li>
								<li>on <span>2 Sep, 2018</span></li>
							</ul>
							<div class="text">Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt.</div>
							<div class="link-btn"><a href="blog-details.html" class="read-more-btn">Read More <span class="fa fa-long-arrow-right"></span></a></div>
						</div>
					</div>
				</div>
				<!-- news block two -->
				<div class="col-lg-4 col-md-6 news-block-two">
					<div class="inner-box hvr-float-shadow">
						<div class="lower-content">
							<div class="category"><a href="#">Article</a></div>
							<h4><a href="blog-details.html">Let’s Talk About Design</a></h4>
							<ul class="post-meta">
								<li>by <strong>admin</strong></li>
								<li>on <span>2 Sep, 2018</span></li>
							</ul>
							<div class="text">Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt.</div>
							<div class="link-btn"><a href="blog-details.html" class="read-more-btn">Read More <span class="fa fa-long-arrow-right"></span></a></div>
						</div>
					</div>
				</div>
				<!-- end -->
			</div>
		</div>
	</section>
	
	<!-- Main Footer -->
	<footer class="main-footer">
		<div class="container">
			
			<!--Widgets Section-->
			<div class="widgets-section">
				<div class="row clearfix">
					<!--Big Column-->
					<div class="big-column col-lg-8">
						<div class="row clearfix">
							
							<!--Footer Column-->
							<div class="footer-column col-lg-7 col-md-7">
								<div class="footer-widget about-widget">
									<div class="footer-logo">
										<figure>
											<a href="/"><img src="images/footer-logo.png" alt=""></a>
										</figure>
									</div>
									<div class="widget-content">
										<div class="text">
											Business Solutions Group es una firma de asesoría y consultoría empresarial, que brinda soluciones efectivas para la gestión exitosa de las empresas.
										</div>
										<ul class="social-icon-three">
											<li><a target="_blank" href="https://www.facebook.com/BSGroup.Peru"><i class="fa fa-facebook"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							
							<!--Footer Column-->
							<div class="footer-column col-lg-5 col-md-5">
								<div class="footer-widget services-widget">
									<h2 class="widget-title">Opciones</h2>
									<div class="widget-content">
										<ul class="list">
											<li><a href="#">Inicio</a></li>
											<li><a href="#">Nosotros</a></li>
											<li><a href="#">Servicios</a></li>
											<li><a href="#">Blog</a></li>
											<li><a href="#">Contacto</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!--Big Column-->
					<div class="big-column col-lg-4">
						<div class="row clearfix">
							
							<!--Footer Column-->
							<div class="footer-column col-lg-9 col-md-9">
								<div class="footer-widget services-widget">
									<h2 class="widget-title">Servicios</h2>
									<div class="widget-content">
										<ul class="list">
											<li><a href="#">Gestión Estratégica</a></li>
											<li><a href="#">Gestion Financiera y Tributaria</a></li>
											<li><a href="#">Gestión del Talento Humano</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--Footer Bottom-->
		<div class="footer-bottom">
			<div class="container">
				<div class="copyright-text">
					<p>&copy;  2018 Todos los derechos reservados.</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Main Footer -->
</div>


<!-- Scroll Top Button -->
<button class="scroll-top scroll-to-target" data-target="html">
	<span class="fa fa-angle-up"></span>
</button>


<!-- jequery plugins -->

<script src="js/jquery.js"></script>
<script src="js/popover.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/wow.js"></script>
<script src="js/owl.js"></script>
<script src="js/validate.js"></script>
<script src="js/mixitup.js"></script>
<script src="js/isotope.js"></script>
<script src="js/appear.js"></script>
<script src="js/jquery.fancybox.js"></script>

<!-- Custom script -->
<script src="js/script.js"></script>

<!-- map script -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZQiiFTOGpm2qHVZmZY1s-aEnmHDhqKgk"></script>
<script src="js/gmaps.js"></script>
<script id="map-script" src="js/map-script.js"></script>

</body>
</html>